<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Site Meta -->
    <title>FitnessDoze</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/Untitled.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/Untitled.png">

	<!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet"> 
	
    <!-- Custom & Default Styles -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/carousel.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="style.css">

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
	<![endif]-->

</head>
<body>  

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="images/preloader2.gif" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->


    <div id="wrapper">
        <!-- BEGIN # MODAL SEARCH -->
        <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Begin # DIV Form -->
                    <div id="div-forms">
                        <form id="login-form">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="flaticon-add" aria-hidden="true"></span>
                            </button>
                            <div class="modal-body">
                                <input class="form-control" type="text" placeholder="What you are looking for?" required>
                            </div>
                        </form><!-- End # Login Form -->
                    </div><!-- End # DIV Form -->
                </div>
            </div>
        </div>
        <!-- END # MODAL SEARCH -->

        <!-- BEGIN # MODAL LOGIN -->
        <div class="modal fade" id="login-modal" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="flaticon-add" aria-hidden="true"></span>
                        </button>

                    <a type="button" class="btn btn-success" href="gymsignup">Register Your Gym</a>

                <div class="modal-content">
                      
                    <!-- Begin # DIV Form -->
                    <div id="div-forms">
                        <form action="gymlogin" method="POST">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                              </div>
                              <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" name="password" placeholder="Password">
                              </div>
                              <!-- <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                              </div> -->
                              <button type="submit" class="btn btn-primary">Submit</button>
                        </form><!-- End # Login Form -->
                    </div><!-- End # DIV Form -->
                </div>
            </div>
        </div>
        <!-- END # MODAL LOGIN -->

        <header class="header header-normal">
            <div class="topbar clearfix">
                <div class="container">
                    <div class="row-fluid">
                        <div class="col-md-6 col-sm-6 text-left">
                            <p>
                                <strong><i class="fa fa-phone"></i></strong> +91-9958522637 &nbsp;&nbsp;
                                <strong><i class="fa fa-envelope"></i></strong> <a href="mailto:#">Fitnessdoze@gmail.com</a>
                            </p>
                        </div><!-- end left -->
                        <div class="col-md-6 col-sm-6 hidden-xs text-right">
                            <div class="social">
                                <a class="facebook" href="https://www.facebook.com/FitnessDoze98/" data-tooltip="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>              
                                <a class="twitter" href="https://www.instagram.com/fitness_doze/" data-tooltip="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-instagram"></i></a>
                                <!-- <a class="google" href="#" data-tooltip="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a> -->
                              <!-- <a class="linkedin" href="#" data-tooltip="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                <a class="pinterest" href="#" data-tooltip="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>-->
                            </div><!-- end social -->
                        </div><!-- end left -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end topbar -->

            <div class="container">
                <nav class="navbar navbar-default yamm">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="logo-normal">
                            <a class="navbar-brand" href="/"><img src="images/fd.jpg" alt="fitnessdoze"></a>
                        </div>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- <li><a href="/">FitnessDoze</a></li> -->
                            <li><a href="/blogpost">Blog Panel</a></li>
                            <li><a href="/excercisepanel">Excercise Panel</a></li>
                            <li><a href="/schedulespanel">Schedules Panel</a></li>
                            
                            
                            <!-- <li class="iconitem"><a href="/gymsdirectory" > Gyms </a></li> -->
                       
                            {% if login %}
                            <li class="dropdown hassubmenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi, Admin<span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="logout">Logout</a></form></li>
                                </ul>
                            </li>
                            {% endif %}

                            {% if !login %}
                             <li><button type="button" class="btn btn-primary  wow slideInLeft" data-toggle="modal" data-target="#login-modal">Login</button></li>
                             {% endif %}
                       
                            
                            </ul>
                    </div>
                </nav><!-- end navbar -->
            </div><!-- end container -->
        </header>

        <section class="section db p80">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tagline-message page-title text-center">
                                <h3>Admin Panel</h3>
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </section><!-- end section -->
            <div class="row">
        {% block adminpanel %}
    
         {% endblock %}
</div>

    <footer class="section footer noover">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Subscribe Our Newsletter</h3>
                            <div class="newsletter-widget">
                                <p>You can opt for our newsletters at any time.<br>
                                     <!-- See our <a href="#">privacy policy</a>.</p> -->
                                <form class="form-inline" action="newsletter" method='POST'>
                                    <div class="form-1">
                                        <input type="text" class="form-control" name="sname" placeholder="Enter your name..">
                                        <input type="text" class="form-control" name="email" placeholder="Enter email here..">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o"></i></button>
                                    </div>
                                </form>
                                <!-- <img src="images/payments.png" alt="" class="img-responsive"> -->
                            </div><!-- end newsletter -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
    
                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Join the Fitness Doze community Today</h3>
                            <p>We at Fitness Doze are looking forward for the online supplement and product selling. You can contact us for the same</p>
                            <a href="signup" class="readmore">Get your gym online</a>
                        </div><!-- end widget -->
                    </div><!-- end col -->
    
                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Popular Tags</h3>
                            <div class="tags-widget">   
                                <ul class="list-inline">
                                    <li><a href="/weightraining">weight training</a></li>
                                    <li><a href="/cardio">Cardio</a></li>
                                    <li><a href="/yoga">yoga</a></li>
                                    <li><a href="Fitnessplans">Fitness Plans</a></li>
                                    <li><a href="/diet">Diet</a></li>
                                    <li><a href="/excercise">Excercise</a></li>
                                    <li><a href="/nutrition">Nutrition</a></li>
                                    <li><a href="/gymdirectory">Gyms</a></li>
                                    <li><a href="/">Fitness</a></li>
                                    <!-- <li><a href="#">learning</a></li> -->
                                </ul>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
    
                    <div class="col-lg-2 col-md-2">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Support</h3>
                            <div class="list-widget">   
                                <ul>
                                    <li><a href="#">Terms of Use</a></li>
                                    <li><a href="#">Copyrights</a></li>
                                    <li><a href="#">Create a Ticket</a></li>
                                    <li><a href="#">Pricing & Plans</a></li>
                                    <li><a href="#">Carrier</a></li>
                                    <li><a href="#">Trademark</a></li>
                                </ul>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->
    
        <!-- <div class="copyrights">
            <div class="container">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="cop-logo">
                                <a class="navbar-brand" href="/"><img src="images/fd.jpg" alt="fitnessdoze"></a>
                        </div>
                    </div>
    
                    <div class="pull-right">
                        <div class="footer-links">
                            <ul class="list-inline">
                                <li>Design : <a href="https://html.design">HTML.Design</a></li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            <!-- </div>end container -->
        <!-- </div>end copy -->
    </div><!-- end wrapper -->
    
    <!-- jQuery Files -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="js/carousel.js"></script> -->
    <script src="js/animate.js"></script>
    <script src="js/custom.js"></script>
    <!-- VIDEO BG PLUGINS -->
    <!-- <script src="js/videobg.js"></script> -->
    
    </body>
    </html>